<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ TITLE }}</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>CyberDeep Corporations</h1>
            </div>
            <nav class="navigate">
                <ul>
                    {% block navigate %}
                    {% endblock %}
                </ul>
            </nav>
        </div>
    </header>
    <div class="main">
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        <div class="footer-content">
            &copy; 2025 CyberDeep Corporations
        </div>
    </footer>
</body>
</html>